.item {
  margin-bottom: 1.6rem;
  min-height: 22.2rem;
  width: 100%;
  margin-top: 0;

  @include bp('tablet') {
    min-height: 22.3rem;
  }

  @include bp(tablet) {
    width: 50%;
    padding: 0 0.8rem;
  }
}

.wrapper {
  .item {
    @include bp(tablet) {
      &:nth-last-child(-n + 2) {
        margin-bottom: 1.6rem !important;
      }
    }
  }
}
