# This is a codeowners file. The last matching pattern takes precedence,
# so the listed codeowners apply only if there is no later match.

# Default owner for all other files
* @MetaMask/activation

# Docusaurus configuration
docusaurus.config.js @MetaMask/activation @MetaMask/tech-writers

# GitHub workflows and templates
/.github/ @MetaMask/activation @MetaMask/tech-writers

# Vercel configuration
vercel.json @MetaMask/activation @MetaMask/tech-writers

# Sidebar files
*-sidebar.js @MetaMask/activation @MetaMask/tech-writers

# All other Markdown files
*.md @MetaMask/tech-writers
*.mdx @MetaMask/tech-writers

# Developer tools documentation
/developer-tools/ @MetaMask/tech-writers

# Services documentation
/services/ @MetaMask/tech-writers

# Snaps documentation
/snaps/ @MetaMask/tech-writers @MetaMask/snaps
/wallet/ @MetaMask/tech-writers @MetaMask/dev-ex
