:root {
  --badge-default-color: #6a737d;
  --badge-default-bg-color: #f2f4f6;
  --badge-default-border-color: transparent;
  --badge-success-color: #1c8234;
  --badge-success-bg-color: rgba(28, 130, 52, 0.1);
  --badge-error-color: #d73847;
  --badge-error-bg-color: rgba(215, 56, 71, 0.1);
}

:root[data-theme="dark"] {
  --badge-default-color: #bbc0c5;
  --badge-default-bg-color: #24272a;
  --badge-default-border-color: #bbc0c5;
  --badge-success-color: #28a745;
  --badge-success-bg-color: rgba(40, 167, 69, 0.15);
  --badge-error-color: #e06470;
  --badge-error-bg-color: rgba(224, 100, 112, 0.15);
}

.badge {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  border-radius: 999px;
  border: 1px solid var(--badge-default-border-color);
  padding: 2px 8px;
  color: var(--badge-default-color);
  background-color: var(--badge-default-bg-color);
  text-transform: capitalize;

  &.success {
    color: var(--badge-success-color);
    background-color: var(--badge-success-bg-color);
    border-color: transparent;
  }

  &.error {
    color: var(--badge-error-color);
    background-color: var(--badge-error-bg-color);
    border-color: transparent;
  }
}
