{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "proseWrap": "preserve",
  "printWidth": 100,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": true
}
