.msgWrapper {
  text-align: center;
  padding: 1.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--general-gray-light);
  margin-bottom: 2.4rem;
}

.msgText {
  margin-bottom: 1.2rem;
}

html[data-theme='dark'] {
  .msgWrapper {
    border-color: var(--general-black-light);
  }
}
