.msgWrapper {
  text-align: center;
  padding: 1.6rem;
  border-radius: 0.4rem;
  border: 1px solid var(--general-gray-light);
  margin-bottom: 2.4rem;
  width: 100%;
  margin: 0 auto;

  @include bp-max(tablet) {
    width: calc(100% - var(--page-padding-x) * 2);
  }
}

.msgText {
  margin-bottom: 1.2rem;
}

html[data-theme='dark'] {
  .msgWrapper {
    border-color: var(--general-black-light);
  }
}
