.tableHeadingRow {
  display: flex;
  border-top: 1px solid rgba(132, 140, 150, 1);
}
.tableHeadingColumn {
  width: 50%;
  padding: 16px;
  line-height: 1.5;
  background-color: #292A36;
  color: #FFFFFF;
}
.tableRow {
  display: flex;
  border-top: 1px solid rgba(132, 140, 150, 1);
  border-bottom: 1px solid rgba(132, 140, 150, 1);
}
.tableColumn {
  width: 50%;
  line-height: 24px;
  background-color: #292A36;
  color: #FFFFFF;
}
.tableColumnParam {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px 16px 12px 12px;
  border-left: 4px solid transparent;
  line-height: 28px;
}
.tableColumnParamFocused {
  border-left: 4px solid rgba(16, 152, 252, 1);
}
.tableColumnParamError {
  border-left: 4px solid rgba(224, 100, 112, 1);
}
.tableColumn:first-child {
  border-right: 1px solid rgba(132, 140, 150, 1);
}
.tableValueRow {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
}
.tableValueRowPadding {
  padding: 12px 72px 12px 16px;
}
.tableColumnType {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 0;
  padding-right: 28px;
  padding-bottom: 2px;
  color: rgba(187, 192, 197, 1);
  line-height: 24px;
  font-size: 14px;
}
.tableLabelIconError {
  width: 11px;
  height: 11px;
  margin-left: 8px;
  background: url("/img/icons/error-icon.svg") no-repeat 50% 50%;
}
.tableColumnIcon {
  position: absolute;
  right: 13px;
  width: 11px;
  height: 11px;
}
.tableColumnIcon:hover {
  cursor: pointer;
}
.tableColumnIconRemove {
  background: url("/img/icons/remove-icon.svg") no-repeat 50% 50%;
}
.chevronIcon {
  background: url("/img/icons/chevron-icon.svg") no-repeat 50% 50%;
  transition: 0.2s transform;
}
.chevronIconDown {
  transform: rotate(180deg);
}
.chevronIconRight {
  transform: rotate(90deg);
}
.chevronIcon:hover {
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  transform: translateY(-50%);
  right: 12px;
  width: 14px;
  height: 14px;
  margin-top: -1px;
  cursor: pointer;
  background: url("/img/icons/delete-icon.svg") no-repeat 50% 50%;
}
.deleteIconCentered {
  top: 50%;
}
.deleteIconComplex {
  top: 27px;
}
.dropdown {
  display: flex;
  align-items: center;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdownChevronIcon {
  transition: 0.2s transform;
}
.dropdownChevronButtonUp {
  transform: rotate(180deg);
}
.dropdownList {
  position: absolute;
  right: 0;
  visibility: visible;
  list-style: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  top: 35px;
  overflow: hidden;
  border: 1px solid rgba(132, 140, 150, 1);
  z-index: 2;
}
.dropdownListClosed {
  visibility: hidden;
}
.dropdownList li + li {
  margin-top: 0;
}
.dropdownItem {
  width: 102px;
  padding: 16px;
  background-color: rgba(36, 39, 42, 1);
  color: #FFFFFF;
}
.dropdownItem:hover {
  background-color: rgba(20, 22, 24, 1);
  cursor: pointer;
}
.dropdownItem:not(:last-child) {
  border-bottom: 1px solid rgba(132, 140, 150, 1);
}
.tableFooterRow {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  bottom: 0;
}
.tableFooterRowDark {
  background-color: #24272A;
}
.tableFooterRowLight {
  background-color: #F2F4F6;
}
.tableButton {
  display: flex;
  background: none;
  border: none;
}
.tableButtonAddNewArray {
  margin: 08px 0 8px 16px;
  padding: 8px 0;
  color: rgba(16, 152, 252, 1);
}
.tableButtonAddArrayItemName {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}
.tableComplexType {
  position: absolute;
  top: 0;
  width: 100%;
  height: 332px;
  background-color: #292A36;
  overflow-y: scroll;
  z-index: 1;
}
.tableComplexTypeItem {
  position: relative;
}
.formControl {
  width: 100%;
  padding: 12px 72px 12px 16px;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 0;
  border: 2px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.formControl:focus {
  border: 2px solid rgba(16, 152, 252, 1);
  outline: none;
}
.formControl[type=number]::-webkit-inner-spin-button,
.formControl[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}
.formControlNumberUp {
  top: 13px;
}
.formControlNumberDown {
  bottom: 15px;
}
.formControlError {
  border: 2px solid rgba(224, 100, 112, 1);
}
.footerButtons {
  display: flex;
}
.footerButtonsLeft {
  width: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}
.footerButtonLeft {
  display: flex;
  width: 16px;
  height: 22px;
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0;
}
.footerButtonRight {
  background: none;
  border-radius: 999px;
  padding: 5px 16px!important;
  outline: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.footerButtonRightOutline {
  margin-right: 16px;
  border: 1px solid rgba(3, 118, 201, 1);
  color: rgba(3, 118, 201, 1);
}
.footerButtonIcon {
  width: 100%;
  border-radius: 0;
}
.arrayParentRow {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px 72px 12px 16px;
}
.arrayColumnType {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 28px;
  display: flex;
  align-items: center;
  color: rgba(187, 192, 197, 1);
  font-size: 14px;
  cursor: pointer;
}
.arrayFormDataWrap {
  display: block;
  max-width: 395px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.addItemBtnWrap {
  min-height: 52px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgba(132, 140, 150, 1);
}
.addItemBtn {
  display: flex;
  align-items: center;
  background: none;
  padding: 0;
  border: 0;
  outline: none;
  color: #BBC0C5;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}
.addItemIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #BBC0C5;
  color: #292A36;
  font-size: 20px;
  line-height: 1;
  margin-right: 10px;
}
.arrayItemIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}
.arrayItemRowWrap {
  position: relative;
  padding-left: 40px;
  border-bottom: 1px dashed #848C96;
}
