.tableHeadingRow {
  display: flex;
  border-top: 1px solid rgba(132, 140, 150, 1);
}
.tableHeadingColumn {
  width: 50%;
  padding: 16px;
  line-height: 1.5;
  background-color: #292A36;
  color: #FFFFFF;
}
.tableRow {
  display: flex;
  border-top: 1px solid rgba(132, 140, 150, 1);
  border-bottom: 1px solid rgba(132, 140, 150, 1);
}
.tableColumn {
  width: 50%;
  line-height: 24px;
  background-color: #292A36;
  color: #FFFFFF;
}
.tableColumnParam {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px 16px 12px 12px;
  border-left: 4px solid transparent;
}
.tableColumnParamFocused {
  border-left: 4px solid rgba(16, 152, 252, 1);
}
.tableColumn:first-child {
  border-right: 1px solid rgba(132, 140, 150, 1);
}
.tableValueRow {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.tableValueRowPadding {
  padding: 12px 56px 12px 16px;
}
.tableColumnType {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 0;
  padding-right: 28px;
  padding-bottom: 2px;
  color: rgba(187, 192, 197, 1);
  line-height: 24px;
  font-size: 14px;
}
.tableColumnTypeErrorIcon {
  position: absolute;
  right: 13px;
  width: 11px;
  height: 11px;
  background: url("/img/icons/error-icon.svg") no-repeat 50% 50%;
}
.chevronIcon {
  position: absolute;
  right: 13px;
  width: 11px;
  height: 11px;
  background: url("/img/icons/chevron-icon.svg") no-repeat 50% 50%;
}
.chevronIcon:hover {
  cursor: pointer;
}
.chevronIconDown {
  transform: rotate(180deg);
}
.dropdown {
  display: flex;
  align-items: center;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdownChevronIcon {
  transition: 0.2s transform;
}
.dropdownChevronButtonUp {
  transform: rotate(180deg);
}
.dropdownList {
  position: absolute;
  right: 0;
  opacity: 1;
  list-style: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  top: 35px;
  overflow: hidden;
  border: 1px solid rgba(132, 140, 150, 1);
  transition: 0.4s opacity;
}
.dropdownListClosed {
  opacity: 0;
}
.dropdownList li + li {
  margin-top: 0;
}
.dropdownItem {
  width: 102px;
  padding: 16px;
  background-color: rgba(36, 39, 42, 1);
  color: #FFFFFF;
}
.dropdownItem:hover {
  background-color: rgba(20, 22, 24, 1);
  cursor: pointer;
}
.dropdownItem:not(:last-child) {
  border-bottom: 1px solid rgba(132, 140, 150, 1);
}
.tableFooterRow {
  position: fixed;
  display: flex;
  padding: 21px 16px;
  width: 100%;
  bottom: 0;
}
.tableFooterRowDark {
  background-color: #24272A;
}
.tableFooterRowLight {
  background-color: #F2F4F6;
}
.formControl {
  width: 100%;
  padding: 12px 72px 12px 16px;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  border-radius: 0;
  border: 2px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.formControl:focus {
  border: 2px solid rgba(16, 152, 252, 1);
  outline: none;
}
.formControl[type=number]::-webkit-inner-spin-button,
.formControl[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}
.formControlNumberUp {
  top: 13px;
}
.formControlNumberDown {
  bottom: 15px;
}
.formControlError {
  border: 2px solid rgba(224, 100, 112, 1);
}
.footerButtons {
  display: flex;
  width: 48px;
  justify-content: space-between;
}
.footerButton {
  display: flex;
  width: 16px;
  height: 22px;
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0;
}
.footerButton:hover {
  cursor: pointer;
}
.footerButtonIcon {
  width: 100%;
  border-radius: 0;
}
