:root {
  --param-item-bg: #292a36;
  --param-item-color: #fff;
  --param-item-border-color: rgb(132 140 150 / 100%);
  --column-item-type-color: rgb(187 192 197 / 100%);
  --modal-footer-bg: #24272a;
}

:root[data-theme="light"] {
  --param-item-bg: #F2F4F6;
  --param-item-color: #141618;
  --param-item-border-color: #BBC0C5;
  --column-item-type-color: #6A737D;
  --modal-footer-bg: #fff;
}

.tableHeadingRow {
  display: flex;
}

.tableHeadingColumn {
  width: 50%;
  padding: 16px;
  line-height: 1.5;
  font-weight: 500;
  background-color: var(--param-item-bg);
  color: var(--param-item-color);
  border-bottom: 1px solid var(--param-item-border-color);
}

.tableRow {
  display: flex;
  border-bottom: 1px solid var(--param-item-border-color);
}

.tableColumn {
  width: 50%;
  line-height: 24px;
  background-color: var(--param-item-bg);
  color: var(--param-item-color);
  font-weight: 500;
}

.tableColumnParam {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 12px 16px 12px 12px;
  border-left: 4px solid transparent;
  line-height: 28px;
  font-size: 14px;
}

.tableColumnParamFocused {
  border-left: 4px solid rgb(16 152 252 / 100%);
}

.tableColumnParamError {
  border-left: 4px solid rgb(224 100 112 / 100%);
}

.tableColumn:first-child {
  border-right: 1px solid var(--param-item-border-color);
}

.tableValueRow {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
}

.tableValueRowPadding {
  padding: 12px 72px 12px 16px;
}

.tableValueConditionalField {
  max-width: 100%;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
}

.tableColumnType {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 0;
  padding-right: 28px;
  padding-bottom: 2px;
  color: var(--column-item-type-color);
  line-height: 24px;
  font-size: 14px;
}

.tableColumnTypeDropdown {
  width: 100%;
  justify-content: flex-end;
}

.tableColumnTypeDropdown:hover {
  cursor: pointer;
}

.tableLabelIconError {
  position: absolute;
  left: 4px;
  width: 13px;
  height: 11px;
  background: url("/img/icons/error-icon.svg") no-repeat 50% 50%;
}

.tableColumnIcon {
  position: absolute;
  right: 13px;
  width: 11px;
  height: 11px;
}

.tableColumnIcon:hover {
  cursor: pointer;
}

.tableColumnIconRemove {
  background: url("/img/icons/remove-icon.svg") no-repeat 50% 50%;
}

.chevronIcon {
  background: url("/img/icons/chevron-icon.svg") no-repeat 50% 50%;
  transition: 0.2s transform;
}

.chevronIconDown {
  transform: rotate(180deg);
}

.chevronIconRight {
  transform: rotate(90deg);
}

.chevronIcon:hover {
  cursor: pointer;
}

.deleteIcon {
  position: absolute;
  transform: translateY(-50%);
  right: 12px;
  width: 14px;
  height: 14px;
  margin-top: -1px;
  cursor: pointer;
  background: url("/img/icons/delete-icon.svg") no-repeat 50% 50%;
}

.deleteIconCentered {
  top: 50%;
}

.dropdown {
  display: flex;
  align-items: center;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdownChevronIcon {
  transition: 0.2s transform;
}

.dropdownChevronButtonUp {
  transform: rotate(180deg);
}

.dropdownList {
  position: absolute;
  right: 0;
  visibility: visible;
  list-style: none;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  top: 35px;
  overflow: hidden;
  border: 1px solid var(--param-item-border-color);
  z-index: 2;
}

.dropdownListClosed {
  visibility: hidden;
}

.dropdownList li + li {
  margin-top: 0;
}

.dropdownItem {
  width: 100%;
  padding: 16px;
  background-color: rgb(36 39 42 / 100%);
  color: #fff;
  white-space: nowrap;
}

.dropdownItem:hover {
  background-color: rgb(20 22 24 / 100%);
  cursor: pointer;
}

.dropdownItem:not(:last-child) {
  border-bottom: 1px solid var(--param-item-border-color);
}

.tableFooterRow {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  bottom: 0;
  background-color: var(--modal-footer-bg);
  border-top: 1px solid var(--param-item-border-color);
}

.tableButton {
  display: flex;
  background: none;
  border: none;
}

.tableButtonAddNewArray {
  margin: 08px 0 8px 16px;
  padding: 8px 0;
  color: rgb(16 152 252 / 100%);
}

.tableButtonAddArrayItemName {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
}

.tableComplexType {
  position: absolute;
  top: 0;
  width: 100%;
  height: 332px;
  background-color: var(--param-item-bg);
  overflow-y: auto;
  z-index: 1;
}

.tableComplexTypeItem {
  position: relative;
}

.formControl {
  width: 100%;
  padding: 12px 72px 12px 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--param-item-color);
  background-color: var(--param-item-bg);
  border-radius: 0;
  border: 2px solid transparent;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.formControl:focus {
  border: 2px solid rgb(16 152 252 / 100%);
  outline: none;
}

.formControl[type="number"]::-webkit-inner-spin-button,
.formControl[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}

.formControlNumberUp {
  top: 13px;
}

.formControlNumberDown {
  bottom: 15px;
}

.formControlError {
  border: 2px solid rgb(224 100 112 / 100%);
}

.footerButtons {
  display: flex;
}

.footerButtonsLeft {
  width: 48px;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
}

.footerButtonLeft {
  display: flex;
  width: 16px;
  height: 22px;
  padding: 0;
  align-items: center;
  background: none;
  border: none;
  border-radius: 0;
}

.footerButtonRight {
  padding: 5px 16px !important;
}

.footerButtonRightOutline {
  margin-right: 16px;
}

.footerButtonIcon {
  width: 100%;
  border-radius: 0;
}

.arrayParentRow {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 12px 72px 12px 16px;
}

.arrayColumnType {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding-right: 28px;
  display: flex;
  align-items: center;
  color: var(--column-item-type-color);
  font-size: 14px;
  cursor: pointer;
}

.arrayFormDataWrap {
  display: block;
  max-width: 395px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.addItemBtnWrap {
  min-height: 52px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--param-item-border-color);
}

.addItemBtn {
  display: flex;
  align-items: center;
  background: none;
  padding: 0;
  border: 0;
  outline: none;
  color: #bbc0c5;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
}

.addItemIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bbc0c5;
  color: #292a36;
  font-size: 20px;
  line-height: 1;
  margin-right: 10px;
}

.arrayItemIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}

.arrayItemRowWrap {
  position: relative;
  padding-left: 40px;
  border-bottom: 1px dashed #848c96;
}
