.lastUpdated {
  margin-top: 0.2rem;
  margin-bottom: 2rem;
  color: var(--general-gray-dark);

  [data-theme='dark'] & {
    color: var(--general-gray);
  }
}

@media (width >= 997px) {
  .lastUpdated {
    text-align: right;
  }
}
