:root[data-theme="dark"] {
  --button-background-color: #1098fc;
  --button-color: #141618;
  --button-hover-background-color: #26a2fc;
  --button-hover-shadow: 0px 2px 8px 0px
    var(--shadow-primary, rgba(16, 152, 252, 0.4));
  --button-active-background-color: #3baafd;
}

:root[data-theme="light"] {
  --button-background-color: #0376c9;
  --button-color: #ffffff;
  --button-hover-background-color: #036ab5;
  --button-hover-shadow: 0px 2px 8px 0px
    var(--shadow-primary, rgba(3, 118, 201, 0.2));
  --button-active-background-color: #025ea1;
}

:root {
  @keyframes spinner-infinite {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

a.button {
  display: inline-flex;
}

.button {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border: none;
  padding: 0 16px;
  height: 48px;
  border-radius: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 145px;

  &:hover {
    background-color: var(--button-hover-background-color);
    box-shadow: var(--button-hover-shadow);
    text-decoration: none;
    color: var(--button-color);
  }

  &:active {
    background-color: var(--button-active-background-color);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .isLoading {
    animation: spinner-infinite 1.2s linear infinite;
  }
}
