// Layout
$tablet-mockup-width: 834;
$desktop-mockup-width: 1440;
$page-padding-x-mobile: 1.6rem;
$page-padding-x-tablet: 1.6rem;
$page-padding-x-desktop: 2.4rem;
$site-container-max-width: 1920px;

// Grid
$grid-column-count: 8;
$grid-gutter-width: 0.8rem;
$grid-column-count-tablet: 8;
$grid-gutter-width-tablet: 1.6rem;
$grid-column-count-desktop: 16;
$grid-gutter-width-desktop: 1.6rem;

// Header
$header-mobile-height: 6.1rem;
$header-desktop-height: 8rem;
