.h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
