.sidebar {
  display: block;
  width: var(--doc-sidebar-width);
  margin-top: calc(-1 * var(--ifm-navbar-height));
  border-right: 1px solid var(--ifm-toc-border-color);
  will-change: width;
  transition: width var(--ifm-transition-fast) ease;
  clip-path: inset(0);
}

@media (width <= 996px) {
  .sidebar {
    display: none;
  }
}
