.pageWrapper {
  display: flex;
  width: 100%;
  flex: 1 0 0%;
}

.mainContainer {
  width: 100%;
  padding: 20px 30px;
}

.contentWrapper {
  margin: 0 auto;
}

.sidebar {
  display: none;
}

@media (width <= 996px) {
  .pageWrapper {
    display: block;
  }
}

@media (width >= 997px) {
  .sidebarViewport {
    height: 100%;
    max-height: 100vh;
    position: sticky;
    top: 0;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--doc-sidebar-width);
    padding-top: 0 !important;
    border-right: 1px solid var(--ifm-toc-border-color);
  }

  .sidebar > div {
    padding-top: 0 !important;
  }
}
