.pill {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.pill--green {
  color: var(--brand-colors-green-green800);
  background: var(--brand-colors-green-green400);
}

.pill--red {
  color: var(--brand-colors-red-red500);
  background: var(--brand-colors-red-red100);
}

.pill--blue {
  color: var(--brand-colors-blue-blue800);
  background: var(--brand-colors-blue-blue100);
}

.pill--yellow {
  color: var(--brand-colors-yellow-yellow700);
  background: var(--brand-colors-yellow-yellow300);
}
