.cardWrapper {
  border-radius: 8px;
  border: 1px solid #848c96;
  background-color: #292a36;
  margin-bottom: 24px;
  overflow: hidden;
}

.cardHeader {
  border-bottom: 1px solid #848c96;
  padding: 16px;
}

.cardHeading {
  color: #fff;
}

.codeWrapper {
  max-height: 328px;
  overflow-y: auto;
}

.cardFooter {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #848c96;
  padding: 16px;
}

.responseBlock {
  max-height: 400px;
  overflow-y: auto;
}
