.wrapper {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;

  background-color: var(--general-black-light);
  color: var(--general-white);
  overflow: hidden;

  @include bp('tablet') {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.grid-wrapper {
  @include grid;
  @include bp('tablet') {
    align-items: center;
    height: 100%;
  }
}

.grid-col-left {
  @include grid-column-span(8);

  @include bp('tablet') {
    @include grid-column-span(4);
    @include grid-column-start(2);
    padding-top: 10.9rem;
    padding-bottom: 10.9rem;
    margin-left: -1.6rem;
  }

  @include bp('desktop') {
    @include grid-column-span(7);
    @include grid-column-start(2);
    padding-top: 9rem;
    padding-bottom: 9.4rem;
    margin-left: 0;
  }
}

.grid-col-right {
  position: relative;
  @include grid-column-span(8);

  @include bp-max(tablet) {
    height: 20.5rem;
    width: 100%;
    order: -1;
  }

  @include bp('tablet') {
    @include grid-column-span(2);
    @include grid-column-start(6);
    height: 100%;
  }

  @include bp('desktop') {
    @include grid-column-span(7);
    @include grid-column-start(10);
  }
}

.shape {
  position: absolute;
  left: 10.2rem;
  bottom: -2.7rem;
  width: 37.5rem;
  height: 43.6rem;

  @include bp(tablet) {
    width: 51.2rem;
    height: 59.5rem;
    left: -1.6rem;
    bottom: 0;
  }

  @include bp(desktop) {
    left: 0;
    width: 83.2rem;
    height: 96.7rem;
  }
}

.title {
  color: var(--developer-purple-light);
  margin-top: 1.4rem;
}

.description {
  margin-top: 2rem;
  padding-right: 2rem;

  @include bp('tablet') {
    margin-top: 2.2rem;
    padding-right: 0;
  }
}

.button {
  margin-top: 2.7rem;

  @include bp('tablet') {
    margin-top: 3rem;
  }

  @include bp('desktop') {
    margin-top: 3.2rem;
  }
}
