.root {
  --font-family-sans: 'Euclid Circular B', 'Roboto', sans-serif;
}

.primaryBtn {
  background: #1098FC;
  color: #141618;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  border-radius: 999px;
  border: 0;
  padding: 12px 16px;
  cursor: pointer;
  font-family: var(--font-family-sans);
  transition-property: 'color', 'background-color';
  transition-duration: .4s;
  transition-timing-function: ease;
}

.primaryBtn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #036AB5;
}

.linkBtn {
  background: none;
  border: 0;
  color: #1098FC;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  font-family: var(--font-family-sans);
}

.stickyCol {
  position: sticky;
  top: 60px;
  left: 0;
}