.root {
  --font-family-sans: 'Euclid Circular B', 'Roboto', sans-serif;
}

.stickyCol {
  position: sticky;
  top: 8.4rem;
  left: 0;
}

.rowWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem 0 0;
}

.colLeft {
  position: relative;
  width: calc(100% - 42rem);
  border-right: 1px solid var(--general-gray-light);
  overflow: hidden;
}

.colContentWrap {
  // height: calc(100vh - 84px);
  height: 100%;
  padding: 0 2.5rem;
  overflow-y: auto;
}

.colRight {
  width: 42rem;
  padding-left: 2.3rem;
}

@media (width <= 1200px) {
  .colLeft {
    width: 100%;
    padding: 0;
    border-right: 0;
  }
  .colRight {
    width: 100%;
    padding: 0;
  }
  .colContentWrap {
    height: auto;
    padding: var(--page-padding-x);
  }
  .rowWrap {
    padding: 0;
  }
}

html[data-theme='dark'] {
  .colLeft {
    border-color: var(--general-black-light);
  }
}
