.item {
  --color-palette: var(--developer-purple);
  margin-bottom: 1.6rem;
  transition: filter calc(var(--motion) * var(--motion-speed)) $gentle-ease;
  width: 100%;
  margin-top: 0;

  @include bp('tablet') {
  }

  @include bp(tablet) {
    width: 50%;
    padding: 0 0.8rem;
  }

  > div {
    background-color: var(--general-gray-light);
    position: relative;
    transition: background-color calc(var(--motion) * var(--motion-speed) * 0.5) $gentle-ease;
  }

  &.active {
    filter: drop-shadow(0 0.8rem 2rem rgba(0, 0, 0, 0.1));

    > div {
      background-color: var(--general-white);
    }
  }
}

.holder {
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.6rem;
  padding: 2.4rem;
  position: relative;
  height: 100%;
  text-decoration: none;
  color: var(--general-black);

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    opacity: 0;
    transition: opacity calc(var(--motion) * var(--motion-speed)) $gentle-ease;
    background-color: var(--color-palette);
  }

  &:hover {
    color: currentColor;
    text-decoration: none !important;

    &::before {
      opacity: 1;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  position: relative;
}

.title {
  .flask & {
    max-width: 22.4rem;
  }
}

.description {
  margin: 0;
  font-size: 1.5rem;
}

.tag-holder {
  position: absolute;
  z-index: 1;
  top: 0.8rem;
  right: 0.8rem;

  .extra-small & {
    top: 0.8rem;
    right: 0.8rem;
  }

  @include bp('tablet') {
    top: 1.6rem;
    right: 1.6rem;
  }
}

.tag {
  display: flex;
  align-items: center;

  width: auto;
  height: 2.6rem;
  font-weight: 500;
  padding: 0.7rem 0.9rem;

  line-height: 0.8;
  color: var(--general-black);

  background: var(--ifm-color-primary-light);

  @include bp('tablet') {
    height: 2.6rem;
    line-height: 1.15;
  }

  @include bp('desktop') {
    height: 2.3rem;
    line-height: 0.85;
  }
}

[data-theme='dark'] .tag {
  color: var(--developer-purple-light);

  background: var(--developer-purple-dark);
}

html[data-theme='dark'] {
  .item {
    --color-palette: var(--developer-green);
    > div {
      background-color: var(--general-black-light);
    }

    &.active {
      > div {
        background-color: var(--general-black);
      }
    }
  }

  .inner {
    color: var(--general-white);
  }
}
