//Syles for Vuepress Plugin Tabs
@require '~vuepress-plugin-tabs/dist/themes/default.styl'


// placeholder for test, dont't remove it.

//.content {
//  font-size 30px;
//}

pre.vue-container
  border-left-width: .5rem;
  border-left-style: solid;
  border-color: #42b983;
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #42b983 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light
      
.btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.primaryBtn {
  background-color: #037dd6;
}

.greenBtn {
  background-color: #4caf50;
}

.feedback {
  margin: 10px 0px;
  padding: 20px;
  border-radius: 6px;
  background-color: #E7893C;
  color: white;
}

.green-background {
  background-color: #79B473;
}

.fade-enter-active{
  transition: opacity 1.5s;
}
.fade-leave-active {
  opacity: 0;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
