// placeholder for test, dont't remove it.

//$accentColor = #f00
$accentColor = #037DD6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #CD6116
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #D7C1B3
