// placeholder for test, dont't remove it.

//$accentColor = #f00
$accentColor = #3099f2
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$badgeTip = #3099f2
$badgeWarning = darken(#ffe564, 35%)
$badgeError = #DA596
