.collapseWrapper {
  overflow: hidden;
  margin: 1.6rem 0;
}

.collapsedWrapperView {
  > div {
    border: 1px solid var(--general-gray-light);
    border-radius: 0.4rem;
    margin-top: 1.2rem;
    font-size: 1.4rem;
  }
}

html[data-theme='dark'] {
  .collapsedWrapperView {
    > div {
      border-color: var(--general-black-light);
    }
  }
}
