.collapseWrapper {
  overflow: hidden;
  margin: 0.5rem 0 0;

  > button {
    > span {
      height: 3.2rem;
      padding: 1.6rem 1.8rem 1.5rem;
    }
  }
}

.collapsedWrapperView {
  > div {
    border: 1px solid var(--general-gray-light);
    border-radius: 0;
    margin-top: 1.2rem;
  }
}

html[data-theme='dark'] {
  .collapsedWrapperView {
    > div {
      border-color: var(--general-black-light);
    }
  }
}
