.collapseWrapper {
  border: 1px solid transparent;
  border-radius: 8px;
  overflow: hidden;
}

.collapsedWrapperView {
  border-color: #848C96;
}

.collapseBtn {
  background: none;
  color: #1098FC;
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 190px;
  border-radius: 999px;
  border: 1px solid #0376C9;
  padding: 12px 22px;
  margin-bottom: 1px;
  cursor: pointer;
  transition-property: 'border-color', 'background-color';
  transition-duration: .2s;
  transition-timing-function: ease;
}

.collapseIcon {
  width: 10px;
  height: 10px;
  margin: 0 0 0 5px;
  border-top: 2px solid #0376C9;
  border-right: 2px solid #0376C9;
  transform: rotate(45deg);
  transition: transform .2s ease;
}

.collapseBtn:hover {
  color: #141618;
  background-color: #0376C9;
}

.collapsedBtnLightHover:hover {
  color: #fff;
  background-color: #036AB5;
}

.collapseBtn:hover .collapseIcon {
  border-top-color: #141618;
  border-right-color: #141618;
}

.collapsedBtnLightHover:hover .collapseIcon {
  border-top-color: #fff;
  border-right-color: #fff;
}

.collapsedBtnView {
  border-color: transparent;
  width: 100%;
  border-radius: 0;
}

.collapsedBtnView:hover {
  color: #0376C9;
  text-decoration: underline;
  background-color: #24272A;
}

.collapsedBtnView.collapsedBtnLightHover:hover {
  background-color: #F2F4F6;
}

.collapsedBtnView:hover .collapseIcon {
  border-top-color: #0376C9;
  border-right-color: #0376C9;
}

.collapsedIconView {
  margin: 0 0 2px 8px;
  transform: rotate(135deg);
}

@media (width <= 767px) {
  .collapseBtn {
    width: 100%;
    justify-content: center;
  }
}
