.collapseWrapper {
  overflow: hidden;
  margin: 0.5rem 0 0.6rem;
  border-radius: 0;
  border: 1px solid var(--general-gray-light);

  html[data-theme='dark'] & {
    border: 1px solid var(--general-black-light);
  }
}

.buttonToggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: 1.6rem;
  color: var(--ifm-heading-color);
  font-size: 1.4rem;

  &:hover {
    background-color: var(--general-white-off);

    html[data-theme='dark'] & {
      background-color: var(--general-black-light);
    }
  }
}

.arrowDown {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
}

.arrowUp {
  display: flex;
  width: 1.6rem;
  height: 1.6rem;
  transform: scale(-1);
}

.collapsedWrapperView {
  > div {
    border-top: 1px solid var(--general-gray-light);
    border-radius: 0;
  }

  > button {
    background-color: var(--general-white-off);

    html[data-theme='dark'] & {
      background-color: var(--general-black-light);
    }
  }

  html[data-theme='dark'] & {
    border: 1px solid var(--general-black-light);
  }
}

html[data-theme='dark'] {
  .collapsedWrapperView {
    > div {
      border-color: var(--general-black-light);
    }
  }
}
