@media screen and (width <= 996px) {
  .introductionBlock {
    padding: 2rem;
    word-wrap: normal;
  }
}

.introductionBlock {
  background-color: #2b3137;
  padding: 6rem;
  text-align: center;
  width: 100%;
}

.forceColor {
  color: var(--ifm-color-content-inverse);
}

html[data-theme="dark"] .forceColor {
  color: var(--ifm-color-secondary-dark);
}

.title {
  font-size: clamp(2rem, 2.75vw, 4rem);
}

.subtitle {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.homepageButton {
  background-color: #1098fc;
  border-radius: 0.3rem;
}

.homepageButton:hover {
  background-color: #43aefc;
}

.devBannerButton {
  border-radius: 0.3rem;
  border-color: #1c1e21;
  border-width: 1.5px;
  color: #1c1e21;
}

.devBannerButton:hover {
  background-color: #1c1e21;
  color: #fff;
}

html[data-theme="dark"] .devBannerButton {
  border-color: #fff;
  border-width: 1px;
}

html[data-theme="dark"] .devBannerButton:hover {
  background-color: #fff;
  color: #1c1e21;
}

.devBannerTitle {
  font-size: clamp(1.75rem, 1.75vw, 2rem);
}

.devBannerSubtitle {
  font-size: clamp(1rem, 1vw, 1.25rem);
}

.devBannerBlock {
  background-color: var(--ifm-color-emphasis-200);
  padding: 5rem;
  text-align: center;
  width: 100%;
}

html[data-theme="dark"] .devBannerBlock {
  background-color: var(--ifm-color-emphasis-100);
}

.devBannerForceColor {
  color: var(--ifm-color-emphasis-900);
}

html[data-theme="dark"] .devBannerForceColor {
  color: var(--ifm-color-secondary-dark);
}
