:root[data-theme="dark"] {
  --alert-error-background: rgb(53, 40, 41);
  --alert-error-border: #e06470;
  --alert-success-background: rgb(34, 48, 36);
  --alert-success-border: #28a745;
  --alert-info-background: rgb(61, 57, 43);
  --alert-info-border: #ffdf70;
}

:root[data-theme="light"] {
  --alert-error-background: rgb(248, 235, 237);
  --alert-error-border: #d73847;
  --alert-success-background: rgb(234, 242, 235);
  --alert-success-border: #1c8234;
  --alert-info-background: rgb(247, 238, 231);
  --alert-info-border: #bf5208;
}

.alert {
  padding: 8px 36px;
  border-radius: 4px;
  border-left: 4px solid;
  position: relative;
  width: 80vw;
  box-shadow: var(--ifm-alert-shadow);

  &.info {
    border-color: var(--alert-info-border);
    background-color: var(--alert-info-background);

    .icon {
      color: var(--alert-info-border);
    }
  }

  &.success {
    border-color: var(--alert-success-border);
    background-color: var(--alert-success-background);

    .icon {
      color: var(--alert-success-border);
    }
  }

  &.error {
    border-color: var(--alert-error-border);
    background-color: var(--alert-error-background);

    .icon {
      color: var(--alert-error-border);
    }
  }

  .icon {
    position: absolute;
    left: 5px;
    top: 8px;
  }

  .closeButton {
    cursor: pointer;
    display: block;
    height: 16px;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 10px;

    .closeIcon {
      min-width: 16px;
      width: 16px;
      min-height: 16px;
      height: 16px;
    }
  }
}

.alertTitle {
  font-weight: 500 !important;
  margin: 0;
}

.alertText {
  margin: 0;
}
