<span class="nav-dropdown-menu">
  <ul>
    <li>
      <a href="/snaps/">
        <span>
          <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" y="0" width="8" height="6" rx="1" fill="currentColor"/>
            <rect x="10" y="0" width="8" height="10" rx="1" fill="currentColor"/>
            <rect x="0" y="8" width="8" height="10" rx="1" fill="currentColor"/>
            <rect x="10" y="12" width="8" height="6" rx="1" fill="currentColor"/>
          </svg>
        </span>
        <div>
          <h2>Snaps</h2>
          <p>Create a custom Snap to extend the functionality of MetaMask.</p>
        </div>
      </a>
    </li>
    <li>
      <a href="/services/">
        <span>
          <svg class="svg-inline--fa fa-iconInfuraNode fa-w-19 text-text-alternative group-hover:text-text-default" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" viewBox="0 0 16 14" role="img"><path fill="currentColor" d="M0.46624 0.213623V2.27922L5.40032 1.77074H7.22144V5.1141L4.15488 6.05202L0 7.05394L0.61696 9.07346L4.5984 7.54322L7.22144 6.74162V12.2296H5.40032L0.46624 11.7208V13.7864H15.5338V11.7208L10.5997 12.2296H8.77856V6.74162L11.3885 7.53906L15.3834 9.07346L16 7.05394L11.8563 6.0549L8.77856 5.1141V1.77074H10.5997L15.5338 2.27922V0.213623H0.46624Z"></path></svg>
        </span>
        <div>
          <h2>Services</h2>
          <p>Use services provided by Infura to optimize essential development tasks and scale your dapp or Snap.</p>
        </div>
      </a>
    </li>
  </ul>
</span>
