<div class="sdk-menu">
  <span class="sdk-selection-menu selected-menu" id="features-menu">
    <ul>
      <li>
        <a href="/features/">
          <div>
            <h2>Features</h2>
            <p>Explore Metamask features and capabilities for developers.</p>
          </div>
        </a>
      </li>
      <li>
        <a href="/tutorials/">
          <div>
            <h2>Tutorials</h2>
            <p>Step by step guides to help you build with MetaMask.</p>
          </div>
        </a>
      </li>

    </ul>
  </span>
</div>