.themeEditThisPage {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 500;
  text-decoration: underline currentColor 0.1rem !important;
  text-underline-offset: 0.4rem;
  margin-bottom: 2rem;

  svg {
    margin-right: 0.8rem;
  }
}
