.container {
  width: 100%;
  height: 100%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--ifm-color-content);
  background-color: var(--ifm-background-surface-color);
  font-size: large;
}

.iframeContainer {
  width: 100%;
  height: 90%;
  overflow: scroll;
  border-radius: 16px;
  background: var(--ifm-color-white);
}

.previewModalContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.previewModal {
  display: block;
  background: var(--ifm-background-surface-color);
  border: 1px solid var(--w3a-border-color);
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 16px;
  padding: 24px;
  margin: 5%;
  height: 90%;
  width: 90%;
  overflow: hidden;
}

.optionsPane {
  padding: 16px;
  border-radius: 16px;
  max-height: max-content;
  overflow: hidden;
  background: var(--ifm-color-second-narbar);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.1),
    0 10px 20px #00000026;
  position: fixed;
  bottom: 1%;
  right: 10px;
  /* transition: max-height 0.3s ease-in-out, width 0.3s ease-in-out, padding 0.3s ease-in-out; */
  width: max-content;
  z-index: 1000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.optionsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.optionsHeaderText {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--ifm-color-content);
  margin: 0;
}

.optionsHeaderButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.builderContainer {
  display: flex;
  flex-direction: col;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.utilityButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.cols {
  width: 100%;
  display: block;
  flex-direction: row;
}

.leftCol {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-left: 0;
  margin-right: 0;
}

.stepContainer {
  padding: 1.25rem var(--ifm-navbar-padding-horizontal);
  border-left: 6px solid transparent;
  cursor: pointer;
  background: var(--ifm-color-emphasis-100);
}

.stepContainer:hover {
  border-color: var(--ifm-color-primary-darkest);
}

.stepContainer.stepSelected {
  /* background-color: var(--ifm-background-surface-color); */
  background: var(--ifm-color-emphasis-200);

  border-color: var(--ifm-color-primary);
}

/* .stepContainer p {
  margin-bottom: 0;
} */

.stepContainer .stepHeader {
  font-family: var(--ifm-font-family-base);
  font-weight: 600;
  margin-bottom: 12px;
  font-size: 20px;
}

.rightCol {
  width: 100%;
}

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--ifm-color-emphasis-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--ifm-color-gray-400);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked+.slider {
  background-color: var(--ifm-color-primary-light);
}

.switch input:checked+.slider:before {
  background-color: var(--ifm-color-white);
}

.switch input:focus+.slider {
  box-shadow: 0 0 1px var(--ifm-color-primary-light);
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Drowpdown */
.w3DropdownLink {
  cursor: pointer;
  margin-right: 0.5rem;
}

.w3DropdownLink:after {
  border: none;
  content: "";
  display: inline-block;
  margin-right: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: -18px;
  top: 9px;
}

.w3DropdownMenu {
  padding: 4px 0;
  margin-top: -5px;
}

.w3DropdownMenu li {
  padding: 4px 12px;
  cursor: pointer;
}

.w3DropdownMenu li:hover {
  background-color: var(--w3a-color-product-selection-menu-background);
}



.heading {
  color: var(--ifm-color-content);
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.productSelection {
  display: block;
  width: 100%;
}

.productSelection h3 {
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 150%;
  color: var(--ifm-color-content);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card,
.selectedCard {
  padding: 14px 24px 14px 24px;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  border-radius: 8px;
  width: fit-content;
  text-decoration: none;
  color: var(--ifm-color-content);
  cursor: pointer;
}

.selectedCard {
  border: 1px solid var(--ifm-color-primary) !important;
}

.cardTitle {
  font-size: 14px;
  line-height: 21px;
  color: var(--ifm-color-content);
  font-weight: 500 !important;
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list h3 {
  font-weight: 600 !important;
  font-size: 14px;
  line-height: 21px;
  color: var(--ifm-color-content);
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  margin-top: 16px;
}

.list select {
  padding: 8px 12px 8px 12px;
  font-weight: 500 !important;
  font-size: 14px;
  line-height: 21px;
  color: var(--ifm-color-content);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  width: fit-content;
  /* white */
  background: var(--ifm-background-surface-color);
  /* gray/200 */
  border: 1px solid var(--w3a-border-color);
  /* shadow-sm */
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg width='10' height='17' viewBox='0 0 10 17' fill='gray' xmlns='http://www.w3.org/2000/svg'><path d='M0.937273 11.1465C1.04471 11.0528 1.19041 11.0001 1.34233 11.0001C1.49424 11.0001 1.63994 11.0528 1.74738 11.1465L4.58331 13.6215L7.41925 11.1465C7.52731 11.0554 7.67203 11.005 7.82224 11.0062C7.97246 11.0073 8.11615 11.0599 8.22238 11.1526C8.3286 11.2453 8.38885 11.3707 8.39016 11.5018C8.39146 11.6329 8.33372 11.7592 8.22936 11.8535L4.98837 14.682C4.88093 14.7758 4.73523 14.8284 4.58331 14.8284C4.4314 14.8284 4.2857 14.7758 4.17826 14.682L0.937273 11.8535C0.829868 11.7598 0.769531 11.6326 0.769531 11.5C0.769531 11.3674 0.829868 11.2403 0.937273 11.1465Z' fill='gray'/><path d='M0.937273 5.85348C1.04471 5.94722 1.19041 5.99988 1.34233 5.99988C1.49424 5.99988 1.63994 5.94722 1.74738 5.85348L4.58331 3.37848L7.41925 5.85348C7.52731 5.94456 7.67203 5.99496 7.82224 5.99382C7.97246 5.99268 8.11615 5.9401 8.22238 5.84739C8.3286 5.75469 8.38885 5.62928 8.39016 5.49819C8.39146 5.36709 8.33372 5.24079 8.22936 5.14648L4.98837 2.31798C4.88093 2.22425 4.73523 2.17159 4.58331 2.17159C4.4314 2.17159 4.2857 2.22425 4.17826 2.31798L0.937273 5.14648C0.829868 5.24025 0.769531 5.3674 0.769531 5.49998C0.769531 5.63257 0.829868 5.75972 0.937273 5.85348Z' fill='gray'/></svg>");
  background-repeat: no-repeat;
  background-position: center right 24px;
}

.list select::-ms-expand {
  display: none;
}

.list :disabled {
  color: var(--w3a-color-icon-gray);
}

.copyButton,
.previewButton,
.copyButton2,
.previewButton2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px 8px 12px;
  border-radius: 8px;
  background: var(--ifm-background-surface-color);
  border: 1px solid var(--w3a-border-color);
  box-shadow: 0px 1px 2px var(--w3a-border-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500 !important;
}

.previewButton,
.previewButton2 {
  background: var(--ifm-color-primary-light);
  border: 1px solid var(--ifm-color-primary-light);
  box-shadow: 0px 1px 2px var(--ifm-color-primary-light);
  color: var(--ifm-color-primary-darkest);
  padding: 8px 12px 7px 12px;

}

.hideButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500 !important;
  cursor: pointer;
  line-height: 21px;
  gap: 8px;
  border-radius: 8px;
  background: none;
  border: none;
  color: var(--ifm-color-content);
}

.closeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500 !important;
  cursor: pointer;
  line-height: 21px;
  gap: 8px;
  background: none;
  border: none;
}

@media (max-width: 959px) {

  .optionsPane {
    right: 50%;
    transform: translateX(50%);
    padding: 12px;
  }
}

@media (min-width: 960px) {
  .cols {
    display: flex;
    height: calc(100vh - 86px);
  }

  .leftCol {
    width: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-left: 0;
    margin-right: 0;
  }

  .rightCol {
    width: 60%;
  }
}