.selectWrapper {
  padding: 0 0 24px;
}

.selectTitle {
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
padding: 0 0 8px;
}

.selectProjects {
  background: #141618 !important;
  border: 1px solid #848C96 !important;
  border-radius: 8px !important;
  padding: 12px 16px !important;
  font-size: 16px !important;
}

.selectDropdown {
  background: #141618 !important;
  border: 1px solid #848C96 !important;
  border-radius: 8px !important;
  font-size: 16px !important;
}
