.flaskOnly :global(a.menu__link::after),
.flaskOnly :global(.menu__list-item-collapsible a.menu__link::after) {
  content: "Flask";
  margin-left: 0.5em;
  background-color: var(--mm-flask-background-color);
  color: var(--mm-flask-color);
  border-radius: 4px;
  padding: 2px 4px;
  transform: none;
}
