.item {
  margin-bottom: 1.6rem;
  transition: filter calc(var(--motion) * var(--motion-speed)) $gentle-ease;

  > div {
    background-color: var(--general-gray-light);
    position: relative;
    transition: background-color calc(var(--motion) * var(--motion-speed) * 0.5) $gentle-ease;

    > div:not(.holder) {
      position: absolute;
      top: 0.1rem;
      left: 0.1rem;
      width: calc(100% - 0.2rem);
      height: calc(100% - 0.2rem);
      background-color: var(--general-white);
    }
  }

  &.active {
    filter: drop-shadow(0 0.8rem 2rem rgba(0, 0, 0, 0.1));

    > div {
      background-color: var(--general-white);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.holder {
  position: relative;
  z-index: 1;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem;
  gap: 0.5rem;
  min-height: 20rem;
  padding: 3.2rem;
  position: relative;
  height: 100%;
  color: var(--general-black);

  @include bp('tablet') {
    padding-bottom: 3rem;
  }

  @include bp('desktop') {
    padding-right: 3.8rem;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    opacity: 0;
    transition: opacity calc(var(--motion) * var(--motion-speed)) $gentle-ease;
    background-color: var(--color-palette, var(--general-gray-mid));
  }

  &:hover {
    text-decoration: none !important;
    color: currentColor;

    &::before {
      opacity: 1;
    }
  }
}

.shape {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 18.8rem;
  color: var(--color-palette, var(--general-gray-mid));

  @include bp(tablet) {
    width: 14.2rem;
  }

  @include bp(desktop) {
    width: 13rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1.6rem;
  position: relative;

  @include bp-max(tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
  }
}

.icon {
  flex: 0 0 auto;
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-palette, var(--general-gray-mid));
  transition: color calc(var(--motion) * var(--motion-speed)) $gentle-ease;
}

.item-description {
  font-size: 1.7rem;
  @include bp(tablet) {
    max-width: 82%;
  }
}

.button {
  flex: 0 0 auto;
}

html[data-theme='dark'] {
  .item {
    > div {
      background-color: var(--general-black-light);

      > div:not(.holder) {
        display: none;
      }
    }

    &.active {
      > div {
        background-color: var(--general-black);
      }

      .shape {
        color: var(--color-palette, var(--general-gray-mid));
      }
    }
  }

  .inner {
    color: var(--general-white);
  }

  .shape {
    color: var(--general-black);
    transition: color calc(var(--motion) * var(--motion-speed)) $gentle-ease;
  }
}

.header {
  margin-bottom: 2rem;

  h2 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    color: var(--color-text-heading);
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0 0;
    max-width: 640px;
    color: var(--color-text-paragraph);
  }
}


