.wrapper {
  padding-top: 4.8rem;

  @include bp('tablet') {
    padding-top: 8rem;
  }
}

.grid-wrapper {
  margin-bottom: 6.4rem;

  @include bp('tablet') {
    @include grid;
    margin-bottom: 9.6rem;
  }

  @include bp('desktop') {
    @include grid;
    margin-bottom: 16rem;
    width: calc(100% + 0.6rem);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.grid-col-left {
  @include bp('tablet') {
    @include grid-column-span(4);
    @include grid-column-start(2);
  }

  @include bp('desktop') {
    @include grid-column-span(5);
    @include grid-column-start(3);
  }

  .reverse & {
    @include bp('desktop') {
      @include grid-column-start(10);
    }
  }
}

.grid-col-right {
  @include bp-max(desktop) {
    margin-top: 3.2rem;
  }

  @include bp('tablet') {
    @include grid-column-span(6);
    @include grid-column-start(2);
  }

  @include bp('desktop') {
    @include grid-column-span(6);
    @include grid-column-start(9);
  }

  .reverse & {
    @include bp('desktop') {
      order: -1;
      @include grid-column-start(3);
    }
  }
}

.sticky-col {
  @include bp('desktop') {
    position: sticky;
    top: calc(var(--header-height) * 3 / 2);
  }
}

.description {
  margin-top: 2rem;

  @include bp('tablet') {
    margin-top: 2.2rem;
  }
}
