.root {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root:hover {
  border-color: #1098fc;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.cardBody {
  flex: 1;
  padding-left: var(--ifm-card-horizontal-spacing);
  padding-right: var(--ifm-card-horizontal-spacing);
}

.ctaButton {
  background-color: #1098fc;
  border-radius: 0.3rem;
  max-width: 12rem;
  align-self: self-end;
  margin: 1rem;
}

.ctaButton:hover {
  background-color: #43aefc;
}

/* <Link
className={clsx(styles.ctaButton, "button button--lg")}
to="/wallet"
>
Get started
</Link> */
