.alert.theme-admonition-flaskOnly {
  --ifm-alert-background-color: var(--mm-flask-background-color);
  --ifm-alert-background-color-highlight: var(--mm-flask-color);
  --ifm-alert-foreground-color: var(--mm-flask-color);
  --ifm-alert-border-color: var(--mm-flask-border-color);
}

.alert-wrapper {
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
  margin-bottom: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}
