@import "../../node_modules/@metamask/design-tokens/src/css/design-tokens";

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: var(--brand-colors-blue-blue500);
  --ifm-color-primary-dark: var(--brand-colors-blue-blue600);
  --ifm-color-primary-darker: var(--brand-colors-blue-blue700);
  --ifm-color-primary-darkest: var(--brand-colors-blue-blue800);
  --ifm-color-primary-light: var(--brand-colors-blue-blue400);
  --ifm-color-primary-lighter: var(--brand-colors-blue-blue300);
  --ifm-color-primary-lightest: var(--brand-colors-blue-blue200);
  --ifm-menu-color: var(--ifm-heading-color);
  --ifm-code-font-size: 90%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --mm-flask-background-color: hsl(280, 45%, 85%);
  --mm-flask-color: hsl(280, 45%, 30%);
  --mm-flask-border-color: hsl(280, 45%, 45%);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: var(--brand-colors-blue-blue400);
  --ifm-color-primary-dark: var(--brand-colors-blue-blue500);
  --ifm-color-primary-darker: var(--brand-colors-blue-blue600);
  --ifm-color-primary-darkest: var(--brand-colors-blue-blue700);
  --ifm-color-primary-light: var(--brand-colors-blue-blue300);
  --ifm-color-primary-lightest: var(--brand-colors-blue-blue200);
  --ifm-menu-color: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --mm-flask-background-color: hsl(280, 45%, 30%);
  --mm-flask-color: hsl(280, 45%, 85%);
  --mm-flask-border-color: hsl(280, 45%, 45%);
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 19px;
}

.navbar__title {
  font-weight: 500;
}

.navbar__brand:hover, .navbar__brand:active {
  color: var(--ifm-navbar-link-color);
}

[data-theme="dark"] .navbar__brand:hover, .navbar__brand:active {
  color: var(--ifm-navbar-link-color);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 2rem;
  padding: 1rem 0rem 3rem;
  margin-bottom: -15px;
}

.card {
  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  padding: 10px;
}

img {
  border-radius: 0.4rem;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
  text-align: center;
}

/* Reset SVG to be inline by default */
svg {
  display: inline;
}

/* Hide Osano cookie widget */
.osano-cm-widget {
  display: none;
}

#manage-cookie-btn {
  color: var(--ifm-footer-link-color);
  border: 0;
  background-color: unset;
  cursor: pointer;
  padding: 0;
  transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  font: var(--ifm-font-size-base) / var(--ifm-line-height-base) var(--ifm-font-family-base);
  line-height: 2;
}

.getfeedback-container {
  margin-top: 50px;
  margin-bottom: -2rem;
}

.getfeedback-hidden {
  display: none !important;
}

p > .ReactPlayer {
  border-radius: 3px; 
  overflow: hidden; 
}

p > video {
  border-radius: 8px;
  overflow: hidden; 
}

.menu__link {
  font-weight: 600;
  font-size: 1.1em;
}

.menu__list .menu__list {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.menu__list .menu__list .menu__list-item {
  margin: 0;
}

.menu__list .menu__list .menu__list-item .menu__link {
  font-size: 0.9em;
  font-weight: normal;
}

.menu__list .menu__list .menu__caret {
  opacity: 0.7;
}

code {
  border-style: none;
}

.hidden {
  display: none !important;
}

pre {
  max-width: 500px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset#root {
  position: relative;
}

button:hover {
  cursor: pointer;
}
