.modalContainer {
  border: 1px solid #848C96;
  border-radius: 8px 8px 0 0;
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 15px;
  right: 15px;
  min-height: 512px;
  opacity: 0;
  transform: translate(0, 100%);
  transition-property: 'transform', 'opacity';
  transition-duration: .4s;
  transition-timing-function: ease;
  box-shadow: 0 2px 40px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  background-color: #292A36;
}

.modalContainerOpen {
  opacity: 1;
  transform: translate(0, -100%);
}

.modalHeader {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  background-color: #24272A;
}

.modalHeaderLight {
  background-color: #F2F4F6 !important;
}

.modalTitle {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

.modalHeaderLabels {
  display: flex;
  align-items: center;
}

.modalHeaderLabel {
  display: flex;
  justify-content: center;
  margin-left: 8px;
  padding: 2px 8px;
  border: 1px solid #848C96;
  border-radius: 999px;
  font-size: 12px;
  line-height: 18px;
}

.modalCloseBtn {
  display: block;
  padding: 0;
  background: none;
  font-size: 24px;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

.modalContent {
  height: 394px;
}

.modalContentScrolled {
  overflow-y: auto;
}

.modalContentFixed {
  overflow-y: hidden;
}

@media (width <= 996px) {
  .modalContainer {
    position: fixed;
    left: 0;
    right: 0;
  }
}
