:root {
  --param-item-bg: #292a36;
  --modal-header-bg: #24272a;
}

:root[data-theme="light"] {
  --param-item-bg: #F2F4F6;
  --modal-header-bg: #fff;
}

.modalContainer {
  border: 1px solid #848c96;
  border-radius: 8px 8px 0 0;
  position: fixed;
  z-index: 10;
  top: 100%;
  left: 300px;
  max-width: 972px;
  width: 100%;
  min-height: 512px;
  margin-left: calc(((100% - 300px) - 1440px) / 2);
  opacity: 0;
  transform: translate(0, 100%);
  transition-property: "transform", "opacity";
  transition-duration: 0.4s;
  transition-timing-function: ease;
  overflow: hidden;
  background-color: var(--param-item-bg);
}

.modalContainerOpen {
  opacity: 1;
  transform: translate(0, -100%);
}

.modalHeader {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
  background-color: var(--modal-header-bg);
}

.modalTitle {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

.modalTitleContainer {
  display: flex;
  align-items: center;
}

.modalHeaderIcon {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin-right: 8px;
}

.modalHeaderIconBack {
  width: 16px;
  height: 16px;
}

.modalHeaderLabels {
  display: flex;
  align-items: center;
}

.modalHeaderLabel {
  display: flex;
  justify-content: center;
  margin-left: 8px;
  padding: 2px 8px;
  border: 1px solid #848c96;
  border-radius: 999px;
  font-size: 12px;
  line-height: 18px;
}

.modalCloseBtn {
  display: block;
  padding: 0;
  background: none;
  font-size: 24px;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

.modalContent {
  height: 394px;
}

.modalContentScrolled {
  overflow-y: auto;
}

.modalContentFixed {
  overflow-y: hidden;
}

@media (width <= 1760px) {
  .modalContainer {
    max-width: 792px;
    margin-left: 0;
    left: calc(50% - 396px);
  }
}

@media (width <= 1200px) {
  .modalContainer {
    left: 0;
    right: 0;
    max-width: 100%;
    margin-left: 0;
  }
}
