.modalContainer {
  border: 1px solid var(--general-gray-light);
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  right: 1.5rem;
  width: 100%;
  min-height: 51.2rem;
  opacity: 0;
  transform: translate(0, 100%);
  transition-property: 'transform', 'opacity';
  transition-duration: 0.4s;
  transition-timing-function: ease;
  overflow: hidden;
  background-color: var(--general-white);

  html[data-theme='dark'] & {
    background-color: var(--general-gray-dark);
    border-color: var(--general-black-light);
  }
}

.modalContainerOpen {
  opacity: 1;
  transform: translate(0, -100%);
}

.modalHeader {
  padding: 1.6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 5.6rem;
  background-color: var(--general-white-off);

  html[data-theme='dark'] & {
    background-color: var(--general-black-light);
  }
}

.modalHeaderLight {
  background-color: var(--general-gray-light);
}

.modalTitle {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 500;
}

.modalTitleContainer {
  display: flex;
  align-items: center;
}

.modalHeaderIcon {
  display: flex;
  background: none;
  border: none;
  padding: 0;
  margin-right: 0.8rem;
}

.modalHeaderIconBack {
  width: 1.6rem;
  height: 1.6rem;
}

.modalHeaderLabels {
  display: flex;
  align-items: center;
  font-family: var(--ifm-heading-font-family);
}

.modalHeaderLabel {
  display: flex;
  justify-content: center;
  margin-left: 0.8rem;
  padding: 0.2rem 0.8rem;
  border: 1px solid var(--general-gray-light);
  border-radius: 999px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.modalCloseBtn {
  display: block;
  padding: 0;
  background: none;
  font-size: 2.4rem;
  line-height: 1;
  border: 0;
  cursor: pointer;
}

.modalContent {
  height: 39.4rem;
}

.modalContentScrolled {
  overflow-y: auto;
}

.modalContentFixed {
  overflow-y: hidden;
}

@media (width <= 1200px) {
  .modalContainer {
    position: fixed;
    left: 0;
    right: 0;
  }
}
