:root[data-theme="dark"] {
  --navbarWallet-color: #fff;
  --tag-bg-color: #213949;
  --tag-border-color: transparent;
}

:root[data-theme="light"] {
  --navbarWallet-color: #141618;
  --tag-bg-color: #fff;
  --tag-border-color: #43AEFC;
}

:global([class*="navbarSearchContainer"]) {
  @media (max-width: 996px) {
    position: relative !important;
    right: 0 !important;
  }
}

.navbarButton {
  order: 100;
  margin-left: 12px;
  position: relative;
}

.navbarWallet {
  color: var(--navbarWallet-color);
  order: 100;
  height: 28px;
  margin-left: 12px;
  position: relative;

  .avatar {
    border-radius: 50%;
    box-sizing: content-box;
    width: 24px;
    height: 24px;
  }

  .cta {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 24px;
    width: 24px;
    display: block;
    border-radius: 50%;
    cursor: pointer;

    .avatar {
      border: 2px solid transparent;

      &:hover,
      &.active {
        border: 2px solid var(--ifm-navbar-link-hover-color);
      }
    }
  }

  .dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: max-content;
    top: 50px;
    right: -8px;
    background-color: var(--ifm-navbar-background-color);
    border-radius: 6px;
    box-shadow: 0 3px 8px 0 rgba(44, 59, 88, 0.35);

    .item {
      padding: 12px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      font-size: 14px;
      border-bottom: 1px solid rgba(133, 139, 154, 0.2);

      &:last-child {
        border-bottom: none;
      }

      .walletId {
        margin: 0 8px;
      }

      .copyButton {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 13px;
        height: 15px;
      }

      .disconnect {
        width: 100%;

        .content {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.tooltip {
  font-size: 14px !important;
}

.innerItemWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.extLinkWrap {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.extLink {
  display: inline-flex;
  align-items: center;
  color: #43AEFC;
}

.extLink img {
  display: block;
  margin-left: 5px;
}

.extTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  min-width: 45px;
  padding: 4px 4px 6px 4px;
  margin-left: 10px;
  background-color: var(--tag-bg-color);
  color: #43AEFC;
  border-radius: 12px;
  border: 1px solid var(--tag-border-color);
}