:root[data-theme='dark'] {
  --navbarWallet-color: #fff;
  --tag-bg-color: #213949;
  --tag-border-color: transparent;
  --tag-color: #43aefc;
}

:root[data-theme='light'] {
  --navbarWallet-color: #141618;
  --tag-bg-color: #fff;
  --tag-border-color: #0376c9;
  --tag-color: #0376c9;
}

:global([class*='navbarSearchContainer']) {
  @media (max-width: 996px) {
    position: relative !important;
    right: 0 !important;
  }
}

.navbarButton {
  order: 100;
  margin-left: 1rem;
  position: relative;
}

.navbarWallet {
  color: var(--navbarWallet-color);
  order: 100;
  height: 2.6rem;
  margin-left: 1rem;

  .avatar {
    border-radius: 50%;
    box-sizing: content-box;
    width: 2.2rem;
    height: 2.2rem;
  }

  .cta {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    height: 2.2rem;
    width: 2.2rem;
    display: block;
    border-radius: 50%;
    cursor: pointer;

    .avatar {
      border: 2px solid transparent;

      &:hover,
      &.active {
        border: 2px solid var(--ifm-navbar-link-hover-color);
      }
    }
  }

  .dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: max-content;
    top: calc(100% + 1px);
    right: 1.6rem;
    background-color: var(--ifm-navbar-background-color);

    .item {
      padding: 1.4rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      border-bottom: 1px solid rgba(133, 139, 154, 0.2);

      &:last-child {
        border-bottom: none;
      }

      .walletId {
        margin: 0 1rem;
      }

      .copyButton {
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 1.4rem;
        height: 1.4rem;
        svg {
          width: 1.4rem;
          height: 1.4rem;
        }
      }

      .disconnect {
        width: 100%;
        height: 4.2rem;
        box-shadow: none;
        cursor: pointer;
        font-size: inherit;
        border-radius: 2rem;

        .content {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 1rem;
            height: 1.6rem;
            width: 1.6rem;
          }
        }
      }
    }
  }
}

.tooltip {
  font-size: 14px !important;
}

.innerItemWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.extLinkWrap {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.extLink {
  display: inline-flex;
  align-items: center;
  color: var(--navbarWallet-color);
}

.extLink svg {
  display: block;
  margin-left: 5px;
}

.extTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.2rem;
  padding: 0.4rem 0.6rem;
  margin-left: 10px;
  color: var(--navbarWallet-color);
  border-radius: 12px;
  font-size: 1.2rem;
  border: 1px solid var(--navbarWallet-color);
}
