:root {
  --table-border-color: rgba(132, 140, 150, 0.16);
  --table-bg-color: #fff;
  --table-bg-thead-color: #f2f4f6;
}

:root[data-theme="dark"] {
  --table-border-color: rgba(132, 140, 150, 0.16);
  --table-bg-color: #24272a;
  --table-bg-thead-color: #24272a;
}

.tableWrapper {
  max-width: 1014px;
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  margin-bottom: 24px;
}

.tableInner {
  border: 1px solid var(--table-border-color);
  border-radius: 8px;
  overflow: hidden;
  min-width: 768px;
}

.table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  background-color: var(--table-bg-color);

  .thead {
    background-color: var(--table-bg-thead-color);
  }

  .trow {
    background-color: transparent;
    border-top: 1px solid var(--table-border-color);
  }
}

.throw {
  background-color: transparent;
  border: 0;

  .thcell {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 16px;
    text-align: left;
    background-color: transparent !important;
    border: 0;
  }
}

.tdcell {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 16px;
  background-color: transparent;
  border: 0;
}
