.dropdown {
  position: relative;
  font-family: var(--ifm-font-family-base);
  border-bottom: 1px solid var(--ifm-toc-border-color);
  padding: 0.4rem 0;
}

.sectionItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--color-text);
  user-select: none;
  width: 100%;
  padding: 0.6rem 2.4rem;
}

.sectionItem:hover {
  color: var(--ifm-color-primary);
}

.staticTitle {
  cursor: default;
}

.staticTitle:hover {
  background: none;
}

.chevron {
  font-size: 2.2rem;
  line-height: 1;
  padding: 1rem;
}

.labelContainer {
  flex: 1;
  padding: 1rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--color-text);
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--general-white);
  border: 1px solid var(--general-gray-light);
  border-radius: 4px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  margin-top: 0.3rem;
  padding-bottom: 1rem;
  z-index: 100;
  width: 100%;
  min-width: 180px;
}

.menuItem {
  padding: 0.6rem 2.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
  color: var(--color-text);
  background: var(--general-white);
}

.menuItemContent {
  display: flex;
  flex-direction: column;
}

.menuItemTitle {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.7;
}

.menuItemDescription {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.4;
  color: var(--ifm-color-emphasis-700);
  margin: 0.2rem 0rem;
}

.menuItem:hover {
  background: var(--ifm-hover-overlay);
}

.menuItem.hovered {
  background: var(--ifm-hover-overlay);
}

.menuItem.selected {
  color: var(--ifm-color-primary) !important;
  background: var(--general-gray-light);
}

[data-theme='dark'] .menu {
  background: var(--general-black-light) !important;
  border-color: var(--general-white) !important;
}

[data-theme='dark'] .menuItem {
  color: var(--general-white) !important;
  background: var(--general-black-light) !important;
}

[data-theme='dark'] .menuItem:hover {
  background: var(--general-black-mid) !important;
}

[data-theme='dark'] .menuItem.selected {
  color: var(--ifm-color-primary) !important;
  background: var(--general-black-mid) !important;
}

[data-theme='dark'] .dropdown {
  border-bottom: 1px solid var(--general-white);
}

[data-theme='dark'] .title {
  color: var(--general-white) !important;
}

[data-theme='dark'] .menuItemDescription {
  color: var(--ifm-color-emphasis-600) !important;
}
