.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
  position: relative;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 1.2rem;
}

.cardDescription {
  font-size: 0.8rem;
}

.flaskOnly::after {
  content: 'Flask';
  border-bottom-left-radius: var(--ifm-card-border-radius);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1rem 0.75rem;
  font-weight: 500;
  background-color: var(--mm-flask-background-color);
  color: var(--mm-flask-color);
}
