[class*='admonition'].alert {
  margin-top: 2.8rem;
  margin-bottom: 4rem;

  @include bp(desktop) {
    margin-top: 4.8rem;
    margin-bottom: 6rem;
  }
}

.alert {
  padding: 4rem;
  border-radius: 0;
  color: var(--general-black);

  [class*='admonitionHeading'] {
    @extend .type-heading-xxs;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--ifm-alert-foreground-color);

    [class*='admonitionIcon'] {
      display: flex;
      font-size: 1rem;
      margin-right: 0.8rem;
    }
  }

  [class*='admonitionContent'] {
    @extend .type-paragraph-m;
    margin-top: 1.7rem;
  }

  a {
    font-weight: 500;
    color: var(--ifm-alert-foreground-color);
  }

  code {
    @extend .type-heading-xxs;
    font-family: var(--ifm-heading-font-family);
    color: var(--ifm-alert-foreground-color);
    padding: 0.2rem 0.7rem;
    border-radius: 0.4rem;
  }

  &--secondary {
    --ifm-alert-background-color-highlight: #0a0a0a1a;

    a {
      color: var(--consumer-orange-dark) !important;

      &:hover {
        color: var(--consumer-orange) !important;
      }
    }
  }

  &--info {
    --ifm-alert-background-color-highlight: #1900661a;

    a {
      &:hover {
        color: var(--consumer-blue) !important;
      }
    }
  }

  &--success {
    --ifm-alert-background-color-highlight: #0133301a;

    a {
      &:hover {
        color: var(--consumer-green) !important;
      }
    }
  }

  &--warning {
    --ifm-alert-background-color-highlight: #3d065f1a;

    a {
      &:hover {
        color: var(--consumer-purple) !important;
      }
    }
  }

  &--danger {
    --ifm-alert-background-color-highlight: #6618001a;

    a {
      &:hover {
        color: var(--consumer-orange) !important;
      }
    }
  }

  &.theme-admonition-flaskOnly {
    a {
      &:hover {
        color: var(--consumer-purple-light) !important;
      }
    }
  }

  [data-theme='dark'] & {
    color: var(--general-white);

    code {
      color: inherit;
    }

    &--secondary {
      --ifm-alert-background-color-highlight: #ffffff1a;

      a {
        color: var(--consumer-green) !important;

        &:hover {
          color: var(--consumer-green-light) !important;
        }
      }
    }

    &--info {
      --ifm-alert-background-color-highlight: #cce7ff1a;
      color: var(--consumer-blue-light);
    }

    &--success {
      --ifm-alert-background-color-highlight: #e5ffc31a;
      color: var(--consumer-green-light);
    }

    &--warning {
      --ifm-alert-background-color-highlight: #eac2ff1a;
      color: var(--consumer-purple-light);
    }

    &--danger {
      --ifm-alert-background-color-highlight: #ffa6801a;
      color: var(--consumer-orange-light);
    }

    &.theme-admonition-flaskOnly {
      color: var(--general-black);
      a {
        &:hover {
          color: var(--consumer-green-light) !important;
        }
      }
    }
  }
}
