.DocSearch {
  --docsearch-spacing: 1.2rem;
  --docsearch-modal-width: 56rem;
  --docsearch-modal-height: 60rem;
  --docsearch-searchbox-height: 5.6rem;
  --docsearch-footer-height: 4.4rem;

  .DocSearch-Modal {
    border-radius: 0.8rem;
    margin: 0;

    @include bp('tablet') {
      margin: 6rem auto auto;
    }
  }

  .DocSearch-Form {
    border-radius: 0.4rem;
  }

  .DocSearch-Input {
    font-size: 2rem;
  }

  .DocSearch-Help {
    font-size: 1.4rem;
  }

  .DocSearch-Label {
    font-size: 1.2rem;
  }

  .DocSearch-ErrorScreen,
  .DocSearch-NoResults,
  .DocSearch-StartScreen {
    padding: 3.6rem 0;
  }

  .DocSearch-Dropdown {
    margin-top: 0.2rem;
  }

  .DocSearch-Hit[aria-selected='true'],
  .DocSearch-Hit[aria-selected='false'] {
    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
        background-color: var(--general-black);
      }
    }

    mark {
      text-decoration-thickness: 0.1rem;
      text-underline-offset: 0.4rem;
    }
  }

  .DocSearch-Hit[aria-selected='true'] a {
    background-color: var(--general-black);
  }

  .DocSearch-HitsFooter a {
    border-bottom: none;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.4rem;

    &:hover {
      color: var(--docsearch-highlight-color);
    }
  }
}

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(10, 10, 10, 0.9);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  --docsearch-primary-color: var(--general-black);
  --docsearch-searchbox-shadow: 0 0 0 0.2rem var(--docsearch-primary-color);
  --docsearch-highlight-color: var(--general-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--general-gray-dark);
  /* Search box */
  --docsearch-searchbox-background: var(--general-gray-dark);
  --docsearch-searchbox-focus-background: var(--general-black-mid);
  --docsearch-searchbox-shadow: 0 0 0 0.2rem var(--general-black-light);
  --docsearch-highlight-color: var(--general-white);

  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--general-black-light);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
