.markdown {
  --ifm-h1-vertical-rhythm-top: 3;
  --ifm-h2-vertical-rhythm-top: 4;
  --ifm-h3-vertical-rhythm-top: 2.5;
  --ifm-heading-vertical-rhythm-top: 2.25;

  --ifm-h1-vertical-rhythm-bottom: 2.35;
  --ifm-heading-vertical-rhythm-bottom: 1;

  padding: 2.4rem 0 0 0;

  @include bp('desktop') {
    padding: 0;
  }

  /* Links */

  a:not(.link-styles-none, [class*='button_src']) {
    color: var(--ifm-link-color);
    /* autoprefixer: ignore next */
    text-decoration: underline currentColor 0.1rem !important;
    text-underline-offset: 0.4rem;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    font-weight: 500;
  }

  a:not(.link-styles-none, [class*='button_src']):hover {
    color: var(--ifm-link-hover-color);
    /* autoprefixer: ignore next */
    text-decoration: underline currentColor 0.1rem !important;
  }

  ol:not(.list-styles-none) {
    list-style: decimal;
    list-style-position: inside;

    li {
      margin-left: 0;
    }
  }

  ul:not(.list-styles-none) {
    margin-left: 2.5rem;
    list-style: outside;

    li {
      margin-bottom: 1rem;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--general-gray-dark);

      ol,
      ul {
        margin-top: 1rem;
      }
    }
  }
}

/* To be deleted */

.markdown:before {
  content: '';
  display: table;
}

.markdown:after {
  clear: both;
  content: '';
  display: table;
}

.markdown > *:last-child {
  margin-bottom: 0 !important;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 3rem;
  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
}

.markdown > h2 {
  --ifm-h2-font-size: 2rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}

.markdown > h3 {
  --ifm-h3-font-size: 1.5rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

.markdown > h4,
.markdown > h5,
.markdown > h6 {
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading));
}

/* Consistent spacing between content paragraphs. */

.markdown > pre,
.markdown > ul,
.markdown > p {
  margin-bottom: var(--ifm-leading);
}

.markdown li {
  word-wrap: break-word;
}

.markdown li > p {
  margin-top: var(--ifm-list-paragraph-margin);
  display: inline;
}

.markdown li + li {
  margin-top: var(--ifm-list-item-margin);
}
