.markdown {
  --ifm-h1-vertical-rhythm-top: 3;
  --ifm-h2-vertical-rhythm-top: 2;
  --ifm-h3-vertical-rhythm-top: 1.5;
  --ifm-heading-vertical-rhythm-top: 1.25;

  --ifm-h1-vertical-rhythm-bottom: 2.35;
  --ifm-heading-vertical-rhythm-bottom: 1;

  padding: 2.4rem 0 0 0;

  @include bp('desktop') {
    padding: 0;
  }

  /* Links */

  a:not(.link-styles-none) {
    color: var(--ifm-link-color);
    /* autoprefixer: ignore next */
    text-decoration: underline currentColor 0.1rem !important;
    text-underline-offset: 0.4rem;
    transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
    font-weight: 500;
  }

  a:not(.link-styles-none):hover {
    color: var(--ifm-link-hover-color);
    /* autoprefixer: ignore next */
    text-decoration: underline currentColor 0.1rem !important;
  }

  ol:not(.list-styles-none),
  ul:not(.list-styles-none) {
    list-style: initial;
    padding-left: 2.4rem;
  }

  /* Code */
  .prism-code code {
    font-family: 'Andale Mono', AndaleMono, Menlo, Consolas, Monaco, 'Courier New', monospace;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}

/* To be deleted */

.markdown:before {
  content: '';
  display: table;
}

.markdown:after {
  clear: both;
  content: '';
  display: table;
}

.markdown > *:last-child {
  margin-bottom: 0 !important;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 3rem;
  margin-bottom: calc(var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading));
}

.markdown > h2 {
  --ifm-h2-font-size: 2rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h2-vertical-rhythm-top) * var(--ifm-leading));
}

.markdown > h3 {
  --ifm-h3-font-size: 1.5rem;

  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-h3-vertical-rhythm-top) * var(--ifm-leading));
}

.markdown > h4,
.markdown > h5,
.markdown > h6 {
  margin-bottom: calc(var(--ifm-heading-vertical-rhythm-bottom) * var(--ifm-leading));
  margin-top: calc(var(--ifm-heading-vertical-rhythm-top) * var(--ifm-leading));
}

/* Consistent spacing between content paragraphs. */

.markdown > pre,
.markdown > ul,
.markdown > p {
  margin-bottom: var(--ifm-leading);
}

.markdown li {
  word-wrap: break-word;
}

.markdown li > p {
  margin-top: var(--ifm-list-paragraph-margin);
}

.markdown li + li {
  margin-top: var(--ifm-list-item-margin);
}
