.menu {
  &.thin-scrollbar {
    padding: 1.5rem 0 0;
  }

  .navbar-sidebar__back {
    background-color: transparent;
    margin-top: 1.4rem;

    @include bp-max('tablet') {
      padding-left: 2.1rem;
    }
  }

  &__list {
    padding-top: 0;
    padding-bottom: 0;

    @include bp('tablet') {
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }

    .theme-doc-sidebar-item-category-level-1 & {
      padding-left: calc(var(--ifm-menu-link-padding-horizontal) / 4);

      @include bp('tablet') {
        padding-left: var(--ifm-menu-link-padding-horizontal);
      }
    }

    .theme-doc-sidebar-item-category-level-2 &,
    .theme-doc-sidebar-item-category-level-3 &,
    .theme-doc-sidebar-item-category-level-4 &,
    .theme-doc-sidebar-item-category-level-5 &,
    .theme-doc-sidebar-item-category-level-6 & {
      padding-left: calc(var(--ifm-menu-link-padding-horizontal) / 4);

      @include bp('tablet') {
        padding-left: calc(var(--ifm-menu-link-padding-horizontal) / 2);
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  &__list-item {
    &-collapsible {
      border-radius: 0;
    }

    &.theme-doc-sidebar-item-link-level-2,
    &.theme-doc-sidebar-item-link-level-3,
    &.theme-doc-sidebar-item-link-level-4,
    &.theme-doc-sidebar-item-link-level-5,
    &.theme-doc-sidebar-item-link-level-6 {
      a {
        color: var(--ifm-menu-color);
        font-weight: 400;
      }

      &:not(:first-child) {
        margin-top: 0rem;
      }
    }

    &:not(
        :first-child,
        .theme-doc-sidebar-item-link-level-2,
        .theme-doc-sidebar-item-link-level-3,
        .theme-doc-sidebar-item-link-level-4,
        .theme-doc-sidebar-item-link-level-5,
        .theme-doc-sidebar-item-link-level-6
      ) {
      margin-top: 0.8rem;
    }
  }

  &__link--sublist-caret {
    &::after {
      background: var(--ifm-menu-link-sublist-icon);
      background-repeat: no-repeat;
      background-size: contain;
      height: 0.7rem;
      width: 0.9rem;
    }
  }

  &__link {
    color: var(--ifm-menu-color-active);
    font-size: 1.6rem;
    line-height: 124%;
    text-decoration: none;
    font-weight: 500;
    padding: 1.2rem 1.6rem;
    border-radius: 0;
    text-decoration: none !important;

    @include bp('tablet') {
      padding: 1.2rem 3.2rem;
    }

    &--active {
      color: var(--ifm-menu-color-active);
    }
  }

  &__caret {
    padding: 1rem 2rem 1rem 1rem;

    &::before {
      background: var(--ifm-menu-link-sublist-icon);
      background-repeat: no-repeat;
      background-size: contain;
      height: 0.7rem;
      width: 0.9rem;
    }
  }
}

.navbar-sidebar {
  @include bp-max('tablet') {
    &__brand {
      padding: 0 var(--page-padding-x);
    }
  }
}
