.paramWrapper {
  border-bottom: 1px solid #848C96;
  padding-bottom: 1.5rem;
  margin-bottom: 1rem;
}

.borderWrapper {
  border-bottom: 1px solid #848C96;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.textAltColor {
  color: #6A737D;
}

.textErrorColor {
  color: #D73847;
}

.paramItemWrapper {
  padding: 0 1rem;
}

.paramItemWrapper:not(:first-child) {
  border-top: 1px solid #848C96;
}

.borderTopLine {
  border-top: 1px solid #848C96;
}

.borderBottomLine {
  border-bottom: 1px solid #848C96;
}

.enumWrapper {
  border: 1px solid #848C96;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.enumItem {
  border-top: 1px solid #848C96;
  padding: 16px;
}

.enumTitle {
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 4px;
  border: 1px solid #BBC0C5;
  border-radius: 4px;
}

.secondaryHeading {
  font-size: 24px;
  margin: 0;
}

.tagList {
  display: flex;
}

.tagItem {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 8px 0;
  font-size: 12px;
  line-height: 1;
  color: #141618;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #FFCDD2;
}
