:root[data-theme='dark'] {
  --accordion-background: #24272A;
  --accordion-border: rgba(132, 140, 150, 0.16);
}

:root[data-theme='light'] {
  --accordion-background: #FFFFFF;
  --accordion-border: rgba(187, 192, 197, 0.4);
}

.accordion {
  background: var(--accordion-background);
  border: 1px solid var(--accordion-border);
  border-radius: 8px;
  padding: 24px;
  margin-bottom: 24px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .closeButton {
      cursor: pointer;
      margin-left: 24px;
      display: block;
      height: 16px;
      line-height: 1;

      .image {
        min-width: 16px;
        width: 16px;
        min-height: 16px;
        height: 16px;
        transition: all 0.5s;
        transform: rotate(45deg);

        &.opened {
          transform: rotate(0);
        }
      }
    }
  }

  .content {
    margin-top: 20px;
    visibility: hidden;
    display: none;

    &.opened {
      visibility: visible;
      display: block
    }
  }
}

.accordionHeader {
  margin: 0;
}

.accordionContainer {
  margin: 0;
}
