:root[data-theme='dark'] {
  --accordion-background: #393d46;
  --accordion-border: rgba(132, 140, 150, 0.16);
}

:root[data-theme='light'] {
  --accordion-background: #ffffff;
  --accordion-border: rgba(187, 192, 197, 0.4);
}

.accordion {
  background: var(--accordion-background);
  border-radius: 8px;
  margin-bottom: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .closeButton {
      cursor: pointer;
      margin-left: 2rem;
      margin-right: 2rem;
      display: flex;
      height: 1rem;
      line-height: 1;

      .image {
        min-width: 1rem;
        width: 1rem;
        min-height: 1rem;
        height: 1rem;
        transition: all 0.5s;
        transform: rotate(45deg);

        &.opened {
          transform: rotate(0);
        }
      }
    }
  }

  .content {
    visibility: hidden;
    display: none;

    &.opened {
      visibility: visible;
      display: block;
    }
  }
}
