name: Build and lint

on:
  workflow_call:
  secrets:
    SEGMENT_ANALYTICS_KEY:
      required: true
    LD_CLIENT_ID:
      required: true

env:
  SEGMENT_ANALYTICS_KEY: ${{ secrets.SEGMENT_ANALYTICS_KEY }}
  LD_CLIENT_ID: ${{ secrets.LD_CLIENT_ID }}

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v3

      - name: Build
        uses: ConsenSys/docs-gha/build@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs:
      - prepare
    steps:
      - uses: actions/checkout@v3

      - name: Lint
        uses: ConsenSys/docs-gha/lint@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
