name: Delete Branch Folders on gh-pages

on:
  pull_request:
    types: [closed]

jobs:
  is-fork-pull-request:
    name: Determine whether this pull request is from a fork
    runs-on: ubuntu-latest
    outputs:
      IS_FORK: ${{ steps.is-fork.outputs.IS_FORK }}
    steps:
      - uses: actions/checkout@v3
      - name: Determine whether this PR is from a fork
        id: is-fork
        run: echo "IS_FORK=$(gh pr view --json isCrossRepository --jq '.isCrossRepository' "${PR_NUMBER}" )" >> "$GITHUB_OUTPUT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}

  delete_branch_folder_job:
    runs-on: ubuntu-latest
    needs: is-fork-pull-request
    if: ${{ needs.is-fork-pull-request.outputs.IS_FORK == 'false' && github.event.pull_request.head.ref != 'wallet' && github.event.pull_request.head.ref != 'snaps' && github.event.pull_request.head.ref != 'guide' && github.event.pull_request.head.ref != 'assets' && github.event.pull_request.head.ref != 'img' && github.event.pull_request.head.ref != 'search' }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          ref: gh-pages
      - name: Delete preview build
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
        run: rm -rf "${BRANCH_NAME}"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          keep_files: false
