---
name: Check file name case

on:
  pull_request:
    branches:
      - main

jobs:
  case:
    name: Check for licenses not being allowed
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: ["docs"]
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Dependency review
        uses: ConsenSys/github-actions/js-dependency-review@main
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
