---
  name: Nightly check
  
  on:
    schedule:
      - cron: "0 0 * * *"
    workflow_dispatch: {}
  
  concurrency:
    group: nightly-${{ github.ref }}
    cancel-in-progress: true
  
  jobs:
    linkCheck:
      name: Run link check
      runs-on: ubuntu-latest
      strategy:
        matrix:
          file-extensions: [".md", ".mdx"]
          check-modified-files-only: [no]
      permissions:
        contents: read
      steps:
        - uses: actions/checkout@v3
        - name: LinkCheck
          uses: ConsenSys/docs-gha/linkcheck@main
          with:
              FILE_EXTENSION: ${{ matrix.file-extensions }}
              MODIFIED_FILES_ONLY: ${{ matrix.check-modified-files-only }}

    slackNotification:
      needs: linkCheck
      if: ${{ failure() }}
      runs-on: ubuntu-latest
      steps:
        - name: Slack Notification
          uses: rtCamp/action-slack-notify@v2
          env:
            SLACK_CHANNEL: doc-ci-alerts
            SLACK_COLOR: danger
            SLACK_USERNAME: ci
            SLACK_TITLE: MetaMask docs nightly build - Failure
            SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
            MSG_MINIMAL: true