:root[data-theme='dark'] {
  --maintenance-modal-shadow: rgba(0, 0, 0, 0.4);
  --maintenance-modal-background: #24272a;
}

:root[data-theme='light'] {
  --maintenance-modal-shadow: rgba(44, 59, 88, 0.1);
  --maintenance-modal-background: #fff;
}

.maintenance {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: -100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  z-index: 5;

  .modal {
    position: sticky;
    top: 30%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.4rem;
    text-align: center;
    border-radius: 1rem;
    background: var(--maintenance-modal-background);
    box-shadow:
      0px 0px 16px 0px var(--maintenance-modal-shadow),
      0px 32px 32px 0px var(--maintenance-modal-shadow),
      0px 16px 16px 0px var(--maintenance-modal-shadow),
      0px 8px 8px 0px var(--maintenance-modal-shadow),
      0px 4px 4px 0px var(--maintenance-modal-shadow),
      0px 2px 2px 0px var(--maintenance-modal-shadow);

    @include bp(desktop) {
      max-width: 25%;
    }

    .button {
      padding: 0 36px;
    }
  }
}
